body {
    background-color: rgb(0, 0, 0);
    color: rgb(126, 126, 126);
    margin: 0;
}

#contact-list {
    height: 150px;
    overflow-y: auto;
}

nav{
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
}

