#editor {
   margin-top: 20px ;
   border: 1px solid black;
   resize: both;
   overflow: scroll;
   width:100%;
   height:100px;
}


#mysql_query_generator{
   margin-top: 20px ;
}

#example-table
{
   margin-top: 70px;
}

#table_fields_check_boxes{
   display: none;
}